<markus.frosch@icinga.com> <markus.frosch@netways.de>
<markus.frosch@icinga.com> <markus@lazyfrosch.de>
<michael.friedrich@icinga.com> <michael.friedrich@netways.de>
<eric.lippmann@icinga.com> <eric.lippmann@netways.de>
<johannes.meyer@icinga.com> <johannes.meyer@netways.de>
<thomas.gelf@icinga.com> <thomas@gelf.net>
<marius.hein@icinga.com> <marius.hein@netways.de>
